.App {
  text-align: center;
}

.App-header {
  background-color: #D54447;
  height: 150px;
  padding: 20px;
  color: white;
}

ul li {
  list-style: none;
  font-size: 20px;
  padding: 25px;
  display: inline-block;
  margin-right: 30px;
}

.searchBar {
  background-color: #5F565B;
  color: white;
  padding-bottom: 20px;
}
